<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
</head>
<body>
    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span class="">공지사항</span></div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn">목록</button>
        </div>

        
        <div class="default-line default-padding">

            <!-- 제목 -->
            <div class="ins-css insertForm">
                <div><label>제목</label></div>
                <label>무슨 기안을 올릴까요 업무 기안서</label>
            </div>

            <!-- 작성자 -->
            <div class="ins-css detailForm">
                <label>작성자</label>
                <div><label>정희윤</label></div>
                <label>부서명</label>
                <div><label>영업 3팀</label></div>
                <label>2024-05-22</label>
            </div>

            <!-- 파일 -->
            <div class="fileUploadForm">

                <div>
                    <div><i class="fa-solid fa-chevron-down"></i><label>첨부파일</label><label>3</label><label>개</label><label class="colorGray">(12.1KB)</label></div>
                    <table class="default-line">
                        <tr>
                            <td><i class="fa-solid fa-image"></i><label>검색.png</label><label class="colorGray">3.09KB</label></td>
                            <td><a class="fa-solid fa-download"></a></td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-image"></i><label>검색.png</label><label class="colorGray">3.09KB</label></td>
                            <td><a class="fa-solid fa-download"></a></td>
                        </tr>
                    </table>

                    <div class="default-line smarteditorDetail">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면 됩니다.</div>
                </div>
                
            </div>

        </div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn">수정</button>
            <button class="default-btn glucose-btn margin10">삭제</button>
        </div>

        

    </section>
</body>
</html>