@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
   
* {
    font-family: 'NanumBarunGothic', sans-serif;
    margin: 0;
}

:root {	
	--main-color: #426DA7;
    --main2-color: #3667A6;
    --main3-color: #214177;
    --main4-color: #E5F2FE;
    --main5-color: #BDD8F1;
    --main6-color: #82A6CB;

	--sub-color: #CEEEC3;
    --sub2-color: #B8E2AA;
    --sub3-color: #FFE0E6;
    --sub4-color: #F1B8B8;

    --gray-color: #D9D9D9;
}

input {
    outline: none;
    background-color: transparent;
}


/* main 영역 */
main{
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 메인 글씨 */

#loginLetter, #findId, #findPw{
    font-size: 25px;
    font-weight: bold;
    color: #214177;
    margin-bottom: 50px;
}

/* 폼 영역 */
.formArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    height: 420px;
    margin-top: 50px;
    padding: 50px 0;
}

/* 비밀번호 찾기 폼 영역 */
.findPwFormArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    height: 600px;
    margin-top: 50px;
    padding: 50px 0;
}

/*  */
.loginInput, .inputInfoArea {
    display: flex;
    flex-direction: column;
}

/*  */
.loginInput input{
    margin: 5px 0;
    border: 0px;
    border-bottom: 1px solid var(--gray-color);
    padding: 10px;
    width: 380px;
}

/*  */
.inputInfoArea input {
    margin: 5px 0;
    border: 0px;
    border-bottom: 1px solid var(--gray-color);
    padding: 10px;
    width: 300px;
}

.radio{
    width: 30px !important; 
}

span {
    font-size: 14px;
}

/*  */
.loginInput input:hover{
    border-bottom: 2px solid var(--main-color);
}

.inputInfoArea input:hover{
    border-bottom: 2px solid var(--main-color);
}

#loginBtn {
    margin-top: 60px;
    background: var(--main5-color);
    border: 1px solid var(--main5-color);
    border-radius: 5px;
    width: 400px;
    height: 50px;
    font-size: 16px;
}

#loginBtn:hover {
    background: white;
    border: 2px solid var(--main5-color);
    cursor: pointer;
}

.findArea{
    margin-top: 30px;
}

.findArea a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.findArea a:hover{
    color: #3667A6;
}

#authMailBtn, #authBtn, .findBtn{
    height: 28px;
    width: 80px;
    background: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin-left: 30px;
}

.findBtn {
    margin-left: 70px;
}

#authMailBtn:hover, #authBtn:hover , .findBtn:hover {
    background: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.message {
    margin-top: 40px;
    text-align: center;
}

.findBox {
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 480px;
    padding: 20px 10px;
    padding-left: 20px;
    margin: 30px 0;
}


/* 로고 */
.coworkLogoB {
    width: 220px;
    cursor: pointer;
}
