<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="	/css/common.css">
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>
    <title>leftSideBar</title>
</head>
<body>
	<div th:replace="~{employee/userMain/leftSideBar}"></div>
	<div id="userMainFullContainer">
		<div id="attendanceRegisterBtn">
			<button class="default-btn sapphire-btn">출퇴근 등록</button>	
		</div>
		    
		<div id="calendarTodoContainer">
			
			<div id="leftBarSpace">
			</div>
			
			<div id="rightSpace" >
				<div	id="calendarSection">
					<i class="fa-solid fa-calendar-days" id="calendarId"></i> <span  id="calendarSpan">캘린더</span> 
			        <div id='calendar'></div>	
				</div>

				<div id="todoSection">				
					여기에다가 투두를 넣어주세요!
				</div>
			</div>	
			
	    </div>
		
		<div id="noticeContainer">
			<div id="leftBarSpace">
			</div>
			<div id="noticeSection">
					공지사항은 여기에 넣어주세요!
					공지사항은 여기에 넣어주세요!				
					공지사항은 여기에 넣어주세요!				
					공지사항은 여기에 넣어주세요!				
					공지사항은 여기에 넣어주세요!				
					공지사항은 여기에 넣어주세요! 
					공지사항은 여기에 넣어주세요!				
			</div>
		</div>

		
	</div>
	
	<script>
	
	    document.addEventListener('DOMContentLoaded', function() {
	        var calendarEl = document.getElementById('calendar');
	        var calendar = new FullCalendar.Calendar(calendarEl, {
	            initialView: 'dayGridMonth'
	        });
	        calendar.render();
	    });
	
	
	
	</script>
	

	
</body>
</html>