<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/main/leftSideBar.css">
    <title>leftSideBar</title>
</head>
<body>
	
    <div id="leftSideBar">
		<div id="CompanyLogo"></div>
		<div id="businessCard">
			<div></div>
		</div>
		<a id="logOutLink">로그아웃</a>
		<a id="noticeLink">공지사항</a>
		<a id="boardLink">게시판</a>
		<a id="addrLink">주소록</a>
		<a id="calendarLink">캘린더</a>
		<div id="todoLink">할일</div>
		<div id="chattingLink">메신저</div>
		<div id="mailLink">메일</div>
		<div id="attendanceLink">근태내역</div>
		<div id="surveyLink">설문</div>
    </div>
    
    <script src="/js/common/main/leftSideBar.js"></script>
</body>
</html>