<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 -주소록 관리</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/addr/addrMain.css">
</head>
<body>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span>주소록 관리</span></div>


    </section>

    <main>

        <div>asdf</div>

    </main>


    <script src="/js/admin/addr/addrMain.js"></script>
</body>
</html>