<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do</title>

        <th:block th:replace="~{common/common}"></th:block>
        <link rel="stylesheet" href="/css/employee/todo/todo.css">
    </head>
    <body>
        <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

        <section class="container">
            <!-- 타이틀 -->
            <div class="title"><span>할 일</span></div>

            <!-- 검색창 -->
            <div class="search" id="searchTodo">
                <div class="default-line">
                    <input>   
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> 
                 <!-- 등록 버튼 -->
                <div id="btnArea">
                    <button class="default-btn glucose-btn" id="insertBtn">등록</button>
                </div>
            </div>

            <div class="todoArea">
                <!-- 할 일 헤드 -->
                <div class="todoHead">
                    <div><input type="checkbox"></div>
                    <div>전체</div>
                    <div>내 담당</div>
                    <div>요청</div>
                    <div>
                        <input type="checkbox" id="doneList">완료한 일 보기
                        <label for="doneList"></label>
                    </div>
                    <div>
                        <select class="default-line">
                            <option>등록순</option>
                            <option>최신순</option>
                        </select>
                    </div>
                </div>
                <div class="todoListArea"> 
                    <!-- 할 일 목록 -->
                    <div class="todoList">
                        <!-- 하나 -->
                        <div class="todo">
                            <div><input type="checkbox"></div>
                            <div>할 일 제목이지롱</div>
                            <div class="select">
                                <div class="selected"></div>

                                <ul class="optionList">
                                    <li class="optionItem" id="ongoing">시작하기</li>
                                    <li class="optionItem" id="ongoing">진행중</li>
                                    <li class="optionItem" id="complete">완료</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 할 일 상세 -->
                    <div class="todoDetailArea">
                        <div id="insertBtn2Area">
                            <button id="insertBtn2">등록</button>
                        </div>
                        <div>
                            <div class="detailTitle">기한</div>
                            <div class="detailContent">
                                <input type="date" >
                            </div>
                        </div>
                        <div>
                            <div class="detailTitle">요청자</div>
                            <div class="detailContent">
                                <input>
                            </div>
                        </div>
                        <div class="inCharge">
                            <div class="detailTitle">담당자</div>
                            <div class="detailContent">
                                <input>
                            </div>
                        </div>
                        <div class="detailTitle">요청 내용</div>
                        <div class="detailContent">
                            <textarea id="requestContent"></textarea>
                        </div>
                        <div>
                            <div class="detailTitle" id="fileArea">첨부파일</div>
                            <div class="fileBox">
                                <input type="file" id="uploadFile" multiple style="display: none;">
                                <label for="uploadFile" class="uploadFileLabel">내 PC</label>
                            </div>
                        </div>
                        <div class="fileList">
                            <ul id="fileList">
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div> 
        </section>
    </body>
</html>