<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/employee/board/board.css">
</head>
<body>
    
    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span class="">공지사항</span></div>

        <!-----------------------------------------------   검색창  ------------------------------------------------------------------>
        <div class="search">
            <select class="default-line">
                <option>부서명</option>
                <option>제목</option>
                <option>내용</option>
                <option>작성자</option>
            </select>

            <div class="default-line">
                <input >

                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            
        </div>

        <div class="defaultBtn listBtn">
            <button class="default-btn glucose-btn">등록</button>
        </div>

        <!-----------------------------------------------   테이블  ------------------------------------------------------------------>

        <div class="board">

            <div class="table-head">
                <div>부서명</div>
                <div>제목</div>
                <div>작성자</div>
                <div>작성일</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>
            
            <div class="table-body">
                <div>경영1팀</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <!-----------------------------------------------   페이지  ------------------------------------------------------------------>

            <div class="pagination-area">
        
                <ul class="pagination">

                    <!-- 첫 페이지로 이동 -->
                    <li><a>&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a>&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block>
                        
                    <!-- 현재 보고있는 페이지 -->
                        <li>
                            <a class="current" >1</a>
                        </li>
                        
                        <!-- 보고있지 않은 페이지 -->
                        <li>
                            <a>2</a>
                        </li>

                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a>&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a>&gt;&gt;</a></li>
                </ul>
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/247c6d7026.js" crossorigin="anonymous"></script>
</body>
</html>