<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leftSideBar</title>
	<link rel="stylesheet" href="/css/admin/ipInfo/ipInfo.css">
	<link rel="stylesheet" href="/css/common.css">

</head>
<body>
	<div th:replace="~{admin/left/adminLeftSideBar}"></div>
	<div th:replace="~{common/common}"></div>
	
	<div id="fullContainer">

		<div id="rightSideSpace">
			<div id="pageTitle">
						IP 관리		
			</div>
			<div>
				<div id="findDiv">
					<input type="text" placeholder="아이디 또는 이름을 입력해주세요." id="findInput">	
				</div>				
			</div>
			<div id="littleTitle">
				<div></div>
				<div>부서</div>
				<div>이름</div>
				<div>아이피</div>
				<div></div>
			</div>
			<div class="employeesContainer">
				<div></div>
				<div>경영1팀</div>
				<div>송윤지</div>
				<div>
					    127.01.01 &nbsp;
						<i class="fa-regular fa-pen-to-square"></i>
				</div>
				<div></div>
			</div>
			<div class="employeesContainer">
				<div></div>
				<div>경영1팀</div>
				<div>송윤지</div>
				<div>
					    127.01.01 &nbsp;
						<i class="fa-regular fa-pen-to-square"></i>
				</div>
				<div></div>
			</div>
			<div class="employeesContainer">
				<div></div>
				<div>경영1팀</div>
				<div>송윤지</div>
				<div>
					    127.01.01 &nbsp;
						<i class="fa-regular fa-pen-to-square"></i>
				</div>
				<div></div>
			</div>
			<div class="employeesContainer">
				<div></div>
				<div>경영1팀</div>
				<div>송윤지</div>
				<div>
					    127.01.01 &nbsp;
						<i class="fa-regular fa-pen-to-square"></i>
				</div>
				<div></div>
			</div>
		</div>


	</div>
		
			
	<script src="/js/admin/ipInfo/ipInfo.js"></script>
</body>
</html>