@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'SUIT-Regular';
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 90%;
    max-width: 600px;
    height: 90vh; 
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #82A6CB;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-main {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-box {
    display: flex;
    flex-direction: column;
}

.chat-bubble {
    background: #BDD8F1;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-bubble.user {
    background: #E5F2FE;
    align-self: flex-end;
}

.chat-bubble.bot {
    background: #BDD8F1;
    align-self: flex-start;
}

.chat-bubble.question {
    background: #f4f4f4;
    cursor: pointer;
    text-align: left;
}

.chat-footer {
    display: flex;
    padding: 10px;
    background: #FFF;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-footer input:focus {
    outline: none;
}

.chat-footer button {
    padding: 10px 15px;
    background: #82A6CB;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.chat-footer button:hover {
    background: #3667A6;
}
