@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

   
* {
    font-family: 'NanumBarunGothic', sans-serif;
    margin: 0;
}


main{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
}


/* ------------- Header 영역 ------------- */
#headerMain {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #426DA7;
    min-width: 700px;
}

/* 로고 */
#coworkLogoW {
    margin-left: 50px;
}

#whiteLogo {
    width: 40px;
    height: 35px;
}

#letterLogoW {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

/* 버튼 */
.buttons {
    margin-right: 25px;
}

.buttons a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

#signupBtn {
    margin-right: 10px;
}




/* -------------Footer 영역--------------*/

#footerBorder {
   /* border-top: 1px solid #d9d9d9;*/
    background-color: #ECF2FA;
    min-width: 1110px;
}

.footerArea {
    margin-top: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#coworkLogo {
    width: 300px;
}

/* 로고 */
#blueLogo {
    margin-left: 50px;
    width: 40px;
    height: 35px;
}

#letterLogo {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #426DA7;
}

/* 약관 영역 */

#terms a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 13px;
}


/* 회사 정보 영역 */
.coworkInfo {
    margin-right: 10px;
    font-family: "Inter", sans-serif !important;
    font-size: 13px;
}

.coworkInfo:last-child {
    margin-right: 50px;
}



/* ---------------------- main 영역 -------------------------- */

/* ------ 메인 배너 영역 ------ */
.mainBanner {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
}

.phraseArea {
    display: flex;
    flex-direction: column;
}

#coworkLetter {
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #426DA7;
}

#coworkPhrase {
    width: 700px;
}

#bannerImg {
    width: 440px;
    margin-left: 20px;
}


/* ------ 네비바 영역 ------ */
.mainNav {
    display: flex;
    height: 50px;
    background-color: #BDD8F1;
    align-items: center;
    min-width: 770px;
}

.mainNav div {
    width: 100px;
}

.mainNav div:nth-of-type(1) {
    margin-left: 60px;
    margin-right: 10px;
}

.navBtn {
    font-size: 16px;
    font-weight: bold;
    color: #494949;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navBtn:hover {
    border-bottom: 1px solid #426DA7;
    padding: 3px;
    color: #426DA7;
}

/* ------ 기능 소개 영역 ------ */

.functionArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
}

.functionArea section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.functionArea section div {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.functionArea img {
    width: 360px;
    height: 280px;
}

.description {
    text-align: end;
}

.description h1 {
    color: #426DA7;
    font-weight: bold;
}

/* 전자결재 */
.edsmInsertArea {
    background-color: #f1f1f1;
}