body {
    margin: 0;
    padding: 0;
}
:root {	
	--main-color: #426DA7;
    --main2-color: #3667A6;
    --main3-color: #214177;
    --main4-color: #E5F2FE;
    --main5-color: #BDD8F1;
    --main6-color: #82A6CB;

	--sub-color: #CEEEC3;
    --sub2-color: #B8E2AA;
    --sub3-color: #FFE0E6;
    --sub4-color: #F1B8B8;

    --gray-color: #D9D9D9;
}
/* 왼쪽 네비바 조그만 거 */
#leftSideBarMini{
	width: 5vw;
	height: 100vh;
	position: fixed;
	z-index: 10;
	display: flex;
	flex-direction: column;
	background-color: #ECF2FA;
	transition: transform 0.5s ease, opacity 0.3s;
}
#leftSideBarMini>div:nth-child(1){
	flex-basis: 10%;
	display: flex;
	justify-content: center;
	justify-content: center;
	align-items: center;
	background-color: #ECF2FA;
}
#showLeftSideBarBtn{
	cursor: pointer;
}
/* 왼쪽 네비바 조그만 거 */


#leftSideBar{
	width: 15vw;
	height: 100vh;
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ECF2FA;
	transition: transform 0.5s ease, opacity 0.3s;
	transform: translateX(-100%);
}
#closeLeftSideBar{
	margin-top: 50px;
	margin-bottom: 50px;
	cursor: pointer;
}

#CompanyLogo{
	flex-basis: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    background-image: url('/images/naverLogo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#businessCard{
	margin-top: 10px;
	flex-basis: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#businessCard>div{
	width: 150px; 
	height: 100%;
    background-image: url('/images/businessCard.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}
#logOutLink{
	flex-basis: 2%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-right:140px;
	font-weight:  bold;
	transition: background-color 0.3s;
	cursor: pointer;
	font-size: 12px;
	color: #426DA7;
	
}
#logOutLink:hover{
	color: #426DA7;
}
#noticeLink{
}

/* 드롭 다운 */
.dropdown{
	padding: 0;
	margin: 0;
}

.dropbtn{
	display: block;
	width: 15vw; 
	border: none; 
	background-color: #ECF2FA;
	transition: background-color 0.3s;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: 5vh;
}
.dropbtn:hover{
	background-color: #3667A6;
}

.dropdownContent{
	position: relative;
	opacity: 0;
	transition: opacity 0.3s ease; 
	margin-top: 10px;
	display: none;
	padding: 0;
	bottom: 10px;
}
.dropdownContent > a {
	color : black; 
	text-decoration: none;
	display: flex; 
	justify-content: center;
	align-items: center;
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 14px;
	height: 3vh;
}
.dropdownContent > a:hover{
	background-color: #82A6CB;
	
}

.show{
	opacity: 1;
}
.hide{
	opacity: 0.3s;
}











