#companyInfoTitle{
	display: flex; 
	justify-content: center;
	align-items: center;
	font-size: 25px;
}
#fullContainer{
	display: flex; 
}
#leftSideSpace{
	flex-basis: 15%;
}
#rightSideSpace{
	flex-basis: 85%;	
}   
#companyTitle{
	display: flex; 
	justify-content: center;
	font-size: 25px;
	font-weight: bold;
	margin-top: 150px;
}
#btnContainerInCompanyInfo{
	display: flex;
	justify-content: flex-end;
	margin-right: 20vw;
}
#contentContainerInCompanyInfo{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}
#companyLogo{
	width: 20%;
	border-radius: 30px;
}
#companyNameContainer{
	display: flex; 
	margin-left:480px;
	align-items: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.inputClass1{
	margin-left: 140px;
	width: 300px;
	height: 35px;
	font-weight: bold;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.inputClass2{
	margin-left: 126px;
	width: 300px;
	height: 35px;
	font-weight: bold;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.inputClass3{
	margin-left: 154px;
	width: 300px;
	height: 35px;
	font-weight: bold;
	border: 1px solid lightgray;
	border-radius: 5px;	
}
.findPostCodeBtn{
	width: 100px;
	height: 40px;
	margin-left: 30px;
	cursor:pointer;
	font-weight: bold;
	background-color: #3667A6;
	border-radius: 5px;
	border: none;
	color: white;
	transition: background-color 0.3s, color 0.3s;
}
.findPostCodeBtn:hover{
	background-color: white;
	color: #3667A6;
	border: 1px solid #3667A6;

}




















