<div div id="myModal2" class="modal2" onclick="changeSize()"></div>

<!-- 모달 내용 -->
<div class="modal-content2">
    <div class="contentHead2">
        <div>
            <span id="ApprovalRequestBtn2">승인요청</span>
            <span id="RequestDetailsBtn2">요청내역</span>
        </div>
        <div>
            <!-- 연도 -->
            <select class="year2" name="" id="">
                <option value="">2024</option>
            </select>
            
            <!-- 월 -->
            <select class="month2" name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
            </select>
        </div>
        <span class="close2">&times;</span>
    </div>

    <div class="contentBody2">
        <div>
            <span>날짜</span>
            <span>근태정보</span>
            <span>근태기록시간</span>
            <span>수정요청시간</span>
            <span>승인여부</span>
        </div>

        <div class="RequestList">
            <div class="RequestDetail">
                <span>2024-05-26</span>
                <span>지각</span>
                <span>09:04~18:00</span>
                <span>08:55~18:00</span>
                <span><label class="default-label proceeding">진행중</label></span>
            </div>

            <div class="RequestDetail">
                <span>2024-05-26</span>
                <span>지각</span>
                <span>09:04~18:00</span>
                <span>08:55~18:00</span>
                <span><label class="default-label reject">반려</label></span>
            </div>
            
            <div class="RequestDetail">
                <span>2024-05-26</span>
                <span>지각</span>
                <span>09:04~18:00</span>
                <span>08:55~18:00</span>
                <span><label class="default-label complete">승인</label></span>
            </div>

        </div>

    </div>

</div>