body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    background-color: #fff;
}
#contentFirstChild{
	flex-basis: 15%;
}
#contentSecondChild{
	margin-top: 100px;
	flex-basis: 85%;
	display: flex; 
	flex-direction: column;
	
}
#scOne{
	height: 10vh;
}
#scTwo{
	display: flex; 
	justify-content: center;
	align-items: center;
}
#pointContainer{
	width: 80%; 
	display: flex; 
}
#scTwoFirstChild{
	flex-basis: 30%;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #E5F2FE;
}
#scTwoSecondChild{
	flex-basis: 70%;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content > div:nth-child(2){
	flex-basis: 85%;
}
.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3366cc;
    text-align: center;
}
.search-bar {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}
.search-bar input {
    padding: 8px 8px 8px 32px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.search-bar .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.button-container button {
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 10px;
    background-color: #3366cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-container button:hover {
    background-color: #254a99;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #BDD8F1;
    color: #333;
}
.checkbox-container {
    text-align: center;
}
.checkbox-container input {
    margin: 0;
}