<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insert Company Info</title>

        <link rel="stylesheet" href="/css/user/signUp.css"> 

        <th:block th:replace="~{common/mainCommon}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{common/header}"></th:block>

        <main>
            <section class="formArea">
                <span id="companyInfoLetter">기업 정보 등록</span>
                <div class="inputInfo">
                    <input placeholder="회사명">
                    <input placeholder="회사 대표 번호">
                    <input placeholder="이메일">
                    <input placeholder="사용할 도메인(영어만 입력 가능)">
                </div>
                <div class="inputAddr">
                    <div id="postcodeArea">
                        <input placeholder="우편번호" id="postcode" readonly>
                        <button id="searchBtn">찾기</button>
                    </div>
                        <input placeholder="도로명/지번" readonly>
                        <input placeholder="상세주소">
                </div>     
                <div id="registrationNumArea">
                    <input placeholder="사업자 등록 번호" id="registrationNum"> 
                    <button id="authBtn">인증</button>
                </div>
                <button id="registerBtn">등록</button>
            </section>
        </main>

        <th:block th:replace="~{common/footer}"></th:block>
    </body>
</html>