<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find Id</title>

        <link rel="stylesheet" href="/css/user/login.css">
    </head>
    <body>
        <main>
            <section class="formArea">
                <span id="findId">아이디 찾기</span>
                <div class="inputInfoArea">
                    <input placeholder="이름">
                    <div>
                        <input placeholder="이메일">
                        <button id="authMailBtn">인증메일</button>
                    </div>
                    <div>
                        <input placeholder="인증번호">
                        <button id="authBtn">인증</button>
                    </div>
                    <div class="message">
                        아이디 : 000 입니다.
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>