<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find Password</title>

        <link rel="stylesheet" href="/css/user/login.css">
    </head>
    <body>
        <main>
            <section class="findPwFormArea">
                <span id="findPw">비밀번호 찾기</span>
                <div class="inputInfoArea">
                    <div>
                        <input type="radio" class="radio">
                        <span>이메일</span>
                    </div>
                    <div class="findBox">
                        <input placeholder="아이디">
                        <div>
                            <input placeholder="이메일">
                            <button class="findBtn">찾기</button>
                        </div>
                    </div>
                    <div>
                        <input type="radio" class="radio">
                        <span>휴대폰 번호</span>
                    </div>
                    <div class="findBox">
                        <input placeholder="아이디">
                        <div>
                            <input placeholder="휴대폰 번호">
                            <button class="findBtn">찾기</button>
                        </div>
                    </div>                  
                </div>
            </section>
        </main>
    </body>
</html>