<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link rel="stylesheet" href="/css/user/login.css">
    </head>
    <body>
        <main>
            <!-- 로고 -->
            <div>
                <img src="/images/coworkLogoB.png" class="coworkLogoB">
            </div>

            <section class="formArea">
                <span id="loginLetter">로그인</span>
                <div class="loginInput">
                    <input placeholder="아이디">
                    <input placeholder="비밀번호">
                </div>
                <button id="loginBtn">로그인</button>
                <div class="findArea">
                    <a href="/user/findId">아이디 찾기</a>
                    <span>|</span>
                    <a href="/user/findPw">비밀번호 찾기</a>
                </div>
            </section>
        </main>

        <!-- 로고 클릭시 메인페이지 이동 -->
        <script th:inline="javascript">
            const coworkLogoB = document.querySelector(".coworkLogoB"); 
    
            coworkLogoB.addEventListener('click', () => {
                location.href = "/"; 
            })
    
        </script>

    </body>
</html>