<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 수정</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/myInfo/myInfoPwUpdate.css">
</head>
<body>
    
    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="title">
            <span class="">비밀번호 변경</span>
        </div>

    </section>

    <hr>
    
    <section class="container topMargin">

        <!-- 비밀번호 변경 기능 전체 영역 -->
        <div class="pwUpdateContainer">
            <!-- 비밀번호 안내 -->
            <div>
                <div>비밀번호 안내</div>
                <div>
                    <li>최소 비밀번호 길이는 10자리</li>
                    <li>문자/숫자/특수 문자 중 최소 3가지가 조합이 되어야함</li>
                    <li>로그인 시 비밀번호 5회 틀리면 일정 시간 계정이 잠김</li>
                    <li>↑ 안내사항 내용은 개발 맡게되시는 분이 맘껏 수정하시면 됩니당</li>
                </div>
            </div>

            <!-- 비밀번호 변경 -->
            <div class="pwUpdateDiv">

                <div>
                    <label for="currentPw">현재 비밀번호</label>
                    <input class="default-line" type="password" id="currentPw">
                    <span>비밀번호가 일치하지 않습니다</span>
                </div>

                <div>
                    <label for="newPw">새 비밀번호</label>
                    <input class="default-line" type="password" id="newPw">
                    <span>유효한 비밀번호입니다</span>
                </div>

                <div>

                    <label for="newPwConfirm">새 비밀번호 확인</label>
                    <input class="default-line" type="password" id="newPwConfirm">
                    <span>비밀번호가 일치합니다</span>
                </div>

                <div><button class="default-btn glucose-btn">비밀번호 변경</button></div>

            </div>
        </div>

    </section>


    <script src="/js/employee/myInfo/myInfoPwUpdate.js"></script>
</body>
</html>