/* 내역 상태 */
.draftDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draftDetail .detailInfo {
    font-size: x-large;
    margin-bottom: 3px;
}

/* 확인 */
.detailInfo.eye {
    color: var(--sub2-color);
}

/* 완료 */
.detailInfo.check {
    color: var(--main2-color);
}

/* 반려 */
.detailInfo.right {
    color: var(--sub4-color);
}

/* 1차, 2차 */
.detailInfo.number {
    color: var(--main5-color);
}