<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoWork Chatbot</title>
    <link rel="stylesheet" href="/css/chatbot.css"></link>
</head>
<body>
    <div class="chat-container">
        <header class="chat-header">
            <h5>코워크 챗봇</h5>
        </header>
        <main class="chat-main" id="chatMain">
            <div id="respChat" class="chat-box"></div>
        </main>
        <footer class="chat-footer">
            <input type="text" id="inputChat" placeholder="무엇이든 물어보세요">
            <button id="buttonChat">전송</button>
        </footer>
    </div>

    <script type="text/javascript" src="/js/common/chatbot.js"></script>
</body>
</html>