<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/common.css">
</head>
<body>

    <div >
        <div class="indexSample"><div class="main1">--main-color: #426DA7</div><div class="main2">--main2-color: #3667A6;</div><div class="main3">--main3-color: #214177;</div></div>
        <div class="indexSample"><div class="main4">--main4-color: #E5F2FE;</div><div class="main5">--main5-color: #BDD8F1;</div><div class="main6">--main6-color: #82A6CB;</div></div>
        <div class="indexSample"><div class="sub1">--sub-color: #CEEEC3;</div><div class="sub2">--sub2-color: #B8E2AA;</div></div>
        <div class="indexSample"><div class="sub3">--sub3-color: #FFE0E6;</div><div class="sub4">--sub4-color: #F1B8B8;</div></div>
        <div class="indexSample"><div class="gray1">--gray-color: #D9D9D9;</div></div>
    </div>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span>게시판</span></div>

        <!-----------------------------------------------   검색창  ------------------------------------------------------------------>
        <div class="search">
            <select class="default-line">
                <option>제목</option>
                <option>내용</option>
                <option>작성자</option>
            </select>

            <div class="default-line">
                <input >

                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            
        </div>

        <!-----------------------------------------------   테이블  ------------------------------------------------------------------>

        <div class="board">

            <div class="table-head">
                <div>
                    <select class="default-line">
                        <option>공지</option>
                        <option>전달사항</option>
                    </select>
                </div>
                <div>제목</div>
                <div>작성자</div>
                <div>작성일</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>
            
            <div class="table-body">
                <div>공지</div>
                <div>안녕하세요 공지사항입니다</div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>

            <!-----------------------------------------------   페이지  ------------------------------------------------------------------>

            <div class="pagination-area">
        
                <ul class="pagination">

                    <!-- 첫 페이지로 이동 -->
                    <li><a>&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a>&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block>
                        
                    <!-- 현재 보고있는 페이지 -->
                        <li>
                            <a class="current" >1</a>
                        </li>
                        
                        <!-- 보고있지 않은 페이지 -->
                        <li>
                            <a>2</a>
                        </li>

                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a>&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a>&gt;&gt;</a></li>
                </ul>
            </div>
        </div>

        <!-----------------------------------------------   버튼  ------------------------------------------------------------------>

        <div>
            <button class="default-btn baby-blue-btn">로그인</button> <button class="default-btn baby-blue-btn">등록</button>
        </div>

        <div>
            <button class="default-btn sapphire-btn">확인</button> <button class="default-btn sapphire-btn">출퇴근 등록</button>
        </div>

        <div>
            <button class="default-btn glucose-btn">비밀번호 변경</button> <button class="default-btn glucose-btn">수정</button>
        </div>

        <div>
            <button class="default-btn sapphire-border-btn">주소록</button> <button class="default-btn glucose-border-btn">질문 추가</button>
        </div>

        <div>
            <button class="default-btn gray-border-btn">추가하기</button>
        </div>

        <!-----------------------------------------------   구분 라벨  ------------------------------------------------------------------>

        <div>
            <label class="default-label gade-label">진행중</label> <label class="default-label baby-pink-label">완료</label>
        </div>


        <!-----------------------------------------------   로그인 input  ------------------------------------------------------------------>
        <div class="login-css default-line default-padding">
            <input placeholder="아이디">
            <input placeholder="비밀번호">
        </div>

        <!-----------------------------------------------   등록 input  ------------------------------------------------------------------>
        <div class="default-line default-padding">
            <table class="ins-css">
                <tr>
                    <td><label>아이디</label></td>
                    <td><input class="default-line"></td>
                </tr>

                <tr>
                    <td><label>비밀번호</label></td>
                    <td><input class="default-line"></td>
                </tr>
            </table>
        </div>

    </section>

    <script src="https://kit.fontawesome.com/247c6d7026.js" crossorigin="anonymous"></script>
    
</body>
</html>