<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재내역</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/edsm/edsmDraftList.css">
    <link rel="stylesheet" href="/css/employee/edsm/edsmHistory.css">
</head>
<body>

    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="title"><span class="">결재내역</span></div>

        <!-----------------------------------------------   기안선 선택  ------------------------------------------------------------------>
        <div class="draftMenu">
            <select class="draftBtn">
                <option>기안서</option>
                <option>협조문</option>
                <option>품의서</option>
                <option>지출결의서</option>
                <option>경조사 신청서</option>
                <option>회의록</option>
            </select>

            <div class="draftMenu">
                <div class="draftMenu drftScroll">
                     <div class="draftBtn">
                        <div><i class="fa-solid fa-file-circle-plus draftImg"></i></div>
                        <label>기안서</label>
                    </div>
                    <div class="draftBtn">
                        <div><i class="fa-solid fa-file-circle-plus draftImg"></i></div>
                        <label>협조문</label>
                    </div>
                    <div class="draftBtn">
                        <div><i class="fa-regular fa-paste draftImg"></i></div>
                        <label>품의서</label>
                    </div>
                    <div class="draftBtn">
                        <div><i class="fa-regular fa-file-lines draftImg"></i></div>
                        <label>지출결의서</label>
                    </div>
                    <div class="draftBtn">
                        <div><i class="fa-regular fa-file-word draftImg"></i></div>
                        <label>경조사 신청서</label>
                    </div>
                    <div class="draftBtn">
                        <div><i class="fa-regular fa-file draftImg"></i></div>
                        <label>회의록</label>
                    </div>
                </div>
                <div class="draftBtn">
                    <div><i class="fa-solid fa-plus draftImg"></i></div>
                    <label>추가</label>
                </div>
            </div>
            
        </div>

        <!-----------------------------------------------   기안 목록  ------------------------------------------------------------------>
        <div class="draftList2">
            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel2">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftLabel3">
                    <label>영업팀 송윤지</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-regular fa-eye detailInfo eye"></i>
                    <label>확인</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel2">
                    <label>무슨 기안을 올릴까요 업무 기안서무슨 기안을 올릴까요 업무 기안서무슨 기안을 올릴까요 업무 기안서무슨 기안을 올릴까요 업무 기안서무슨 기안을 올릴까요 업무 기안서무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftLabel3">
                    <label>영업팀 송윤지</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-regular fa-circle-check detailInfo check"></i>
                    <label>완료</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel2">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftLabel3">
                    <label>영업팀 송윤지</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-solid fa-circle-chevron-right detailInfo right"></i>
                    <label>반려</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel2">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftLabel3">
                    <label>영업팀 송윤지</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-solid fa-1 detailInfo number"></i>
                    <label>1차</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel2">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftLabel3">
                    <label>영업팀 송윤지</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-solid fa-2 detailInfo number"></i>
                    <label>1차</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel2">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftLabel3">
                    <label>영업팀 송윤지</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-regular fa-circle-check detailInfo check"></i>
                    <label>완료</label>
                </div>
            </div>
        </div>


    </section>
    
</body>
</html>