<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재 문서 관리</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/edsm/edsmDraftList.css">
    <link rel="stylesheet" href="/css/admin/edsm/edsmList.css">
</head>
<body>

    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="title">
            <span class="default-btn baby-blue-span">결재 문서 관리 </span>
        </div>

        <!-----------------------------------------------   버튼  ------------------------------------------------------------------>
        <div class="draftAddBtn">
            <select class="default-line">
                <option>기안서</option>
                <option>협조문</option>
                <option>품의서</option>
                <option>지출결의서</option>
                <option>경조사 신청서</option>
                <option>회의록</option>
            </select>

            <button class="default-btn gray-border-btn">추가하기 </button>
        </div>

        
        <!-----------------------------------------------   기안 목록  ------------------------------------------------------------------>
        <div class="draftList2">
            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftBtn">
                    <label>수정</label>
                    <label>삭제</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftBtn">
                    <label>수정</label>
                    <label>삭제</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftBtn">
                    <label>수정</label>
                    <label>삭제</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftBtn">
                    <label>수정</label>
                    <label>삭제</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftBtn">
                    <label>수정</label>
                    <label>삭제</label>
                </div>
            </div>

            <div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftBtn">
                    <label>수정</label>
                    <label>삭제</label>
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>