<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>양식 생성</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
</head>
<body>
    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span>양식 생성 </span></div>
        
        <div class="default-line default-padding">

            <!-- 제목 -->
            <div class="ins-css insertForm">
                <div><label>제목</label></div>
                <input class="default-line listBtn">
            </div>

            <div class="fileUploadForm">

                <div>

                    <div id="smarteditor">
                        <textarea name="ir1" id="ir1" rows="10" cols="100">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면 됩니다.</textarea>
                    </div>
                </div>
                
            </div>

        </div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn">등록</button>
            <button class="default-btn glucose-btn margin10">취소</button>
        </div>


        

    </section>

    <!-- 스마트 에디터 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/lib/smarteditor2/se/js/service/HuskyEZCreator.js" data-cfasync="false"></script>

    <script src="/js/employee/notice/noticeInsert.js"></script>
</body>
</html>