<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>받은메일함</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/mail/mail.css">

</head>
<body>
    
    <section class="container">

        <div class="mailTitle">
            <div class="mailLabel">
                <label>받은메일함</label>
                <div><label class="cntLabel">0</label><label>/300</label></div>
                <div><button class="default-btn glucose-btn">메일쓰기</button></div>
            </div>
            <div class="search">
                <select class="default-line">
                    <option>제목</option>
                    <option>내용</option>
                    <option>작성자</option>
                </select>
    
                <div class="default-line">
                    <input >
    
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                
            </div>
        </div>

        <!-----------------------------------------------   테이블  ------------------------------------------------------------------>

        <div class="board">

            <!--<div class="table-head">
                <div>부서명</div>
                <div>제목</div>
                <div>작성자</div>
                <div>작성일</div>
            </div>-->

            <div class="table-body">
                <div class="checkDiv">
                    <input type="checkbox">
                    <i class="fa-solid fa-sort-down"></i>
                    <label class="delBtn">삭제</label>
                </div>
                <div></div>
                <div></div>
                <div class="menuDiv">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <i class="fa-solid fa-sort-down"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-bars"></i>
                        <i class="fa-solid fa-sort-down"></i>
                    </div>
                </div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>


            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>
            
            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <input type="checkbox">
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <!-----------------------------------------------   페이지  ------------------------------------------------------------------>

            <div class="pagination-area">
        
                <ul class="pagination">

                    <!-- 첫 페이지로 이동 -->
                    <li><a>&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a>&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block>
                        
                    <!-- 현재 보고있는 페이지 -->
                        <li>
                            <a class="current" >1</a>
                        </li>
                        
                        <!-- 보고있지 않은 페이지 -->
                        <li>
                            <a>2</a>
                        </li>

                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a>&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a>&gt;&gt;</a></li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>