
/* 검색 */
#searchTodo{
    margin-top: 0 !important;
}

/* 할일 헤드 + 목록 전체 감싸는 div */
.todoArea{
    display: flex;
    flex-direction: column;
    width: 1000px;
}

/* 목록 + 상세 전체 감싸는 div */
.todoListArea{
    display: flex;
    margin: 0 !important;
}

/* ! 목록 !*/
.todoList{
    margin: 0 !important;
}


/* ------ 할 일 헤드 영역 ------ */
.todoHead {
    display: flex;
    align-items: center;
    background-color: #82A6CB;
    margin-bottom: 0 !important;
    font-size: 15px;
    font-weight: bold;
}

.todoHead div:nth-of-type(1){
    margin-left: 20px;
    margin-right: 10px;
}
.todoHead div:nth-of-type(2){
    margin-right: 20px;
}
.todoHead div:nth-of-type(3){
    margin-right: 20px;
}
.todoHead div:nth-of-type(4){
    width: 60%;
}
.todoHead div:nth-of-type(5){
    margin-left: 20px;
    margin-right: 20px;
}

#doneList {
    margin-right: 7px;
}


/* ------ 할 일 목록 영역 ----- */
.todo{
    display: flex;
    align-items: center;
    width: 680px;
    border: 1px solid #D9D9D9;
}

.todo div:nth-of-type(1){
    margin-left: 20px;
    width: 20px;
}
.todo div:nth-of-type(2){
    margin-left: 10px;
    width: 77%;
}
.todo div:nth-of-type(3){
    margin-left: 30px;
    width: 100px;
}


/* ! select ! */
ul{
    list-style-type: none;
    padding-left: 0px;
}

.select{
    position: relative;
    padding: 5px 10px;
    width: 40px !important;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.optionList {
    display: none;
}

.select ul {
    position: absolute;
    width: 100%;
    cursor: pointer;
    top: 30px;
    left: 0;
}

.select ul li {
    padding: 10px;
    font-size: 12px;
}

.selected{
    font-size: 12px;
}


/* ----------------할 일 상세---------------- */
.todoDetailArea{
    border: 1px solid #d9d9d9;
    width: 270px;
    height: 690px;
    margin: 15px 0 15px 15px !important;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* ------------ 상세 내부 ------------ */
.todoDetailArea div {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 10px !important;
}

/* 할 일 상세 내부 input창 */
.todoArea input {
    margin: 10px 0;
    border: 0px;
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 10px;
}

.todoArea input:hover {
    border-bottom: 1px solid #214177;
}


/* 등록 버튼  영역 */
#insertBtn2Area {
    margin-bottom: 0 !important;
}

/* 요청 내용 박스 부분 */
#requestContent {
    border: 1px solid #d9d9d9;
    padding: 10px;
    resize: none;
    min-height: 140px;
    width: 240px;
}

#requestContent:focus {
    outline: none;
}

.todoDetailArea div:nth-of-type(6) {
    height: 170px;
}

/* 요청 내용, 첨부 파일  + 박스 */
.todoDetailArea div:nth-of-type(5), 
.todoDetailArea div:nth-of-type(6), 
.todoDetailArea div:nth-of-type(8) {
    margin-left: 20px !important;
    align-items: center;
    margin-bottom: 0 !important;
}
.todoDetailArea div:nth-of-type(8) {
    border: 1px solid #d9d9d9;
    min-height: 140px;
    padding: 10px;
}

.todoDetailArea div div:nth-of-type(1) {
    width: 80px;
    margin-right: 15px;
}

/* 목록 내부 제목 부분 */
.detailTitle {
    font-weight: bold;
    font-size: 14px;
    color: #214177;
}

/* 목록 내부 내용 부분 */
.detailContent {
    font-size: 13px;
}

.inCharge > div {
    min-height: 30px !important;
}

/* 기한 input */
input[type="date"] {
    border: none;
    padding: 10px;
}





/* ------ 파일 업로드 영역 ----- */

/* 파일 업로드 버튼 역할 label */
.uploadFileLabel{
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 12px;
    width: 60px;
    text-align: center;
    height: 18px;
    padding-top: 4px;
    margin-top: 3px;
    cursor: pointer;
}

/* 파일 리스트 보여주는 영역 */

/*
.fileList {
    list-style-type: none;
    width: 240px;
    height: 140px !important;
    border: 1px solid #ccc;
}*/

.fileList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #D9D9D9;
}

.fileList li:last-child{
    border-bottom: none;
}

/* 첨부파일 div */
#fileArea {
    align-items: center;
}




/* --------- 버튼 ---------*/

/* 등록 버튼 */
#btnArea{
    margin: 0 !important;
}

#insertBtn {
    margin-left: 70px;
}

#insertBtn2 {
    margin-left: 210px;
    border: none;
    background-color: transparent;
    color: #214177;
    font-weight: bold;
    margin-top: 0;
}

#insertBtn2:hover {
    border-bottom: 1px solid ;
    padding: 6px;
}


