<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>

    <link rel="stylesheet" href="/css/employee/calendar/calendar.css">
</head>
<body>
    <section class="container">
        <!-- 회의실 예약 제목 -->
        <div class="title"><span>회의실 예약</span></div>
    </section>
    
    <!-- 캘린더 API -->
    <section class="calendarSection">
        <div class="calendarBox">
            <div id='calendar'></div>
        </div>
    </section>

    <!-- Full Calendar API JS -->
    <script src="/js/employee/calendar/calendar.js"></script>
</body>
</html>