<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyList</title>

    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/employee/survey/surveyList.css">
    
</head>
<body>
    <section class="container" id="surveyContainer">
        <!-- 설문조사 목록 제목 -->
        <div class="title"><span>설문조사</span></div>

        <!-- 설문 추가 버튼 -->
        <div id="surveyBtnTop">
            <a href="surveyInsert" class="default-btn sapphire-border-btn">설문 추가</a>
        </div>
    </section>

    <!-- 설문 목록, 투표 현황 Button -->
    <section class="surveyListContainer">

        <div class="surveyListDiv">
            <button class="default-btn baby-blue-btn-survey" id="surveyListBtn">설문 참여하기</button>
            <button class="default-btn baby-blue-boarder-btn" id="voteCurrentBtn">투표 현황</button>
        </div>

    </section>

    <!-- 설문 목록 보여질 곳 -->
    <section class="container">

        <div class="board">

            <div class="table-head">
                <div>제목</div>
                <div>작성자</div>
                <div>작성일</div>
            </div>

            <div class="table-body">
                <div><a href="surveyDetail">설문조사 목록입니다. 투표해주세요.</a></div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>
            
        </div>
        
    </section>

    <!-- 투표현황 보여질 곳 -->
    <section class="container">

        <div class="board">

            <div class="table-body">
                <div class="tableTitle">
                    <a href="surveyVoteCurrent">설문 제목입니다. 눌러서 들어가면 투표현황을 확인할 수 있습니다.</a>
                </div>
                <div class="tableIcon"><i class="fa-solid fa-check-to-slot"></i></div>
                <div class="tableVote">투표율 50%</div>
            </div>
        </div>

    </section>

    <script src="/js/employee/survey/surveyList.js"></script>
    <script src="https://kit.fontawesome.com/247c6d7026.js" crossorigin="anonymous"></script>
</body>
</html>