<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyList</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/employee/survey/surveyList.css">
</head>
<body>
    <section class="container" id="surveyContainer">
        <!-- 설문조사 목록 제목 -->
        <div class="title"><span>설문조사</span></div>

        <!-- 설문 추가 버튼 -->
        <div id="surveyBtnTop">
            <a href="surveyInsert" class="default-btn sapphire-border-btn">설문 추가</a>
        </div>
    </section>

    <!-- 설문 목록, 투표 현황 Button -->
    <section class="surveyListContainer">

        <div>
            <button class="default-btn baby-blue-btn">설문 목록</button>
            <button class="default-btn baby-blue-btn">투표 현황</button>
        </div>

    </section>

    <!-- 설문 목록 보여질 곳 -->
    <section class="container">

        <div class="board">

            <div class="table-head">
                <div>제목</div>
                <div>작성자</div>
                <div>작성일</div>
            </div>

            <div class="table-body">
                <div><a href="surveyDetail">설문조사 목록입니다. 투표해주세요.</a></div>
                <div>정희윤</div>
                <div>2024-05-22</div>
            </div>
            
        </div>
        
    </section>

</body>
</html>